html {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #1d1e20;
}

.App {
  font-family: "Poppins", sans-serif;
  background-color: #1d1e20;
}
a {
  text-decoration: none !important;
}
.h3 {
  font-size: 700;
}

.alert {
  position: absolute;
  top: 5rem;
  right: 0;
  width: 20rem;
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: rgb(221, 214, 214);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: #17a2b8;
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: #f4f4f4;
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: #343a40;
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-warning {
  background: #dc3545;
  color: #fff;
}
.loader {
  width: 100%;
  margin-left: 11rem;
  font-weight: 700;
}
.dash-links {
  margin-top: 2rem;
}
.heading-form {
  color: #dbdbdb;
}

.profile-page-wrapper {
  margin: 2rem;
}
.education-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.table-section {
  margin-top: 0.5rem;
  display: flex;
  width: 30rem;
  justify-content: space-between;
  align-items: flex-start;
}
.table-special {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media only screen and (max-width: 1630px) {
  .nav-links {
    width: 27%;
  }
}

@media only screen and (max-width: 1470px) {
  .nav-links {
    width: 30%;
  }
}

@media only screen and (max-width: 1300px) {
  .nav-links {
    width: 33%;
  }
}

@media only screen and (max-width: 1300px) {
  .list-items {
    margin-left: 0.5rem;
  }
  .nav-heading-wrapper {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 80%;
  }
  .nav-links {
    width: 100%;
    justify-content: flex-end;
  }
  .list-items {
    margin-left: 1rem;
  }
  .nav-heading-wrapper {
    width: 40%;
  }
  .right-side {
    width: 90% !important;
  }
  .left-side {
    width: 10% !important;
  }
  .form-section {
    width: 50% !important;
    margin: 5rem auto !important;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 70%;
  }
  a {
    font-size: 1rem;
  }
  .nav-heading {
    font-size: 0.8rem;
  }
  .right-side {
    width: 100% !important;
  }
  .left-side {
    width: 0% !important;
  }
  .form-section {
    width: 80% !important;
    margin: 5rem auto !important;
  }
}
