.hero-page {
  display: flex;
  width: 100%;
  align-items: center;
  margin-right: auto;
  margin-top: 4rem;
}
.right-side {
  width: 50%;
}
.right-heading {
  width: 100%;
  font-size: 3rem;
  padding: 0rem;
  line-height: 1;
  font-weight: 700;
  font-family: inherit;
  margin-bottom: 15px;
}
.right-subheading {
  font-size: 1rem;
  margin-top: 1rem;
  width: 90%;
  font-weight: 400;
  margin-bottom: 2rem;
}
.right-button {
  text-decoration: none;
}
.left-side {
  width: 50%;
}

.heropage-link {
  font-weight: 400;
  text-transform: lowercase;
  border-bottom: 3px black solid;
}
