.navbar {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: space-between;
  margin: 2rem auto;
}

a {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
}
button {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
}
.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-links-auth {
  margin-right: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-links-auth-links {
  margin-left: 10px;
}
